/******** Typle CSS ********/

.typle{
    position: relative;
}

.typle, .typle *{
    visibility: hidden; /* set visible if javascript is disabled */
}

.typle-show{
    visibility: visible;
}

.typle-cursor{
    position: absolute;
    left: 0px;
}
